{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bitscape Avatar Generator</title>
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css">
  </head>
  <body>
    <h1>Bitscape Avatar Generator</h1>
    <section>
      <h2>Instructions</h2>
      <p>Want a unqiue avatar for one of your profiles? Want to use unique
      avatars for each user in one of your web applications?
      This server can serve generated avatars!</p>
      <p>To request an avatar of a given width and height
      simply follow this url example...
      <pre>&lt;img src="{{ example }}"/&gt;</pre>
    </section>
    <section>
      <h2>Examples</h2>
      <ul>
        <li><img src="{% url 'bitscape' image_type='mirror' image_size='200' %}"/></li>
        <li><img src="{% url 'bitscape' image_type='mirror' image_size='200' %}"/></li>
        <li><img src="{% url 'bitscape' image_type='mirror' image_size='200' %}"/></li>
      </ul>
    </section>
  </body>
</html>
